/*************************************************
**************************************************

Website Name: Weathering For You
Website URL: 
Website Author: Jacky C.
Author URL: 

* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: radial-gradient(circle at 20% 20%, #ffffffaa, #87ceeb 60%),
              radial-gradient(circle at 50% 30%, #ffffffaa, transparent 70%),
              radial-gradient(circle at 50% 80%, #ffffffaa, transparent 70%),
              #87ceeb;
              background-size: cover;
}
/*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/
h1{
  font-size: 3.5em;
}
h3,
p {
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  font-size: xx-large;
}

#conditionsOutput{
  font-size: x-large;
}

#tempOutput{
  font-size: x-large;
}

div{
  font-size: 1.5em;
}

.btn{
  display: inline-block;
  padding: 10px 18px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover{
  background-color: #2980b9;
}
